html {  }
body {
  font-family: 'Libre Franklin', serif;
  margin: 0em 2em 2em 2em;
  font-size: 120%;
  line-height: 160%;
  background-color: #222;
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height:100%;
  margin-top: 1.5em;
}


:is(h1, h2, h3, h4, h5, h6) {
    display: block;
    color: #ab4;
    border-radius: 20px;
    background-color: #101010;
    margin-bottom: 0px;
    z-index: 10;
}

h3 ~ pre {
    margin-left: 75px;
}



h1 {font-size: 2.2em; padding: 30px; color: yellow;}
h2 {font-size: 1.8em; padding: 20px; color: #d6d600; }
h3 {font-size: 1.4em; padding: 10px; color: #b8b800;}
h4 {font-size: 1.2em; padding: 15px; color: #ab4;}
h5 {font-size: 1.0em; padding: 10px;}
h6 {font-size: 0.9em; padding; 5px;}
#toc h6 {font-size: 2.0em !important; padding: 10px !important;}

p, blockquote, table, ul, ol, dl {
  color: #4a7;
  margin-top: 1em;
  margin-left: 50px;
}


ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 { margin-left: 25px; }
h3 { margin-left: 50px; }
h4 { margin-left: 75px; }
h5 { margin-left: 100px; }
#content h6 { margin-left: 125px; }

h2 ~ pre { margin-left: 50px; }
h3 ~ pre { margin-left: 75px; }
h4 ~ pre { margin-left: 100px; }
h5 ~ pre { margin-left: 125px; }
h6 ~ pre { margin-left: 150px; }

h1 ~ ul {
    margin-left: 45px;
}

h2 ~ ul {
    margin-left: 70px;
}

h3 ~ ul {
    margin-left: 95px;
}

h4 ~ ul {
    margin-left: 120px;
}
h5 ~ ul {
    margin-left: 145px;
}

#content h6 ~ ul {
    margin-left: 170px;
}

p strong {
    color: #aaa;
    padding-right: 10px;
}

#page #toc div.scrollsync h6 + ul > li {
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.2em;
}

#page #toc div.scrollsync h6 + ul > li > ul > li a {
    font-weight: normal;
    font-size: 1.0em;
}


#content  div:first-of-type > h1 { background-color: #121212; border-radius: 15px; color: #33a774; font-size: 3.0em; margin-top: 20px; margin-bottom: 30px; padding: 20px; display: block;}

#content  div:first-of-type > h1 + p {
    margin-left: 30px;
}

div.scrollsync ul:first-of-type {
    margin-left: 15px;
}

#update_label { display: inline-block; font-weight: bold; text-align: right; }
#publish_label { display: inline-block; font-weight: bold; text-align: right; margin-right: 5px;}
#toc div#update_date { margin-top: 3px; font-size: .85em; text-align: right; max-height: 25px; color: lightgreen;}
#toc div#publish_date { margin-top: 0px; font-size: .85em; text-align:right; max-height: 25px; color: lightgreen;}

li { margin: 0.3em auto; }

ul {
  margin-left: 2em;
  padding-left: 0;
}

dt { font-weight: bold; }

img { border: none; }

pre {
  border-left: 2px solid #dcdcdc;
  background-color: black;
  padding-left: 1em;
  //padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Source Code Pro", monospace;
  border-radius: 30px;
  max-width: 100%;
  overflow: auto;
  max-height: 350px;
}

p > a {
  color: #0c0;
  text-decoration: none;
  background-color: #333;
  font-size: 0.9em;
  padding: 2px 4px;
  border-radius: 3px;
}

p > a:hover {
  color: #444;
  background-color: #0f0;
}

li > a {
  color: #ddd;
  text-decoration: none;
}

#toc li {
    line-height: 1.4em;
    margin-bottom: 10px;
}


#content {
    padding-left: 15px;
    padding-right: 15px;
    //border-left: 5px solid black;
    border-right: 5px solid black;
}

#content li > a {
  color: #0c0;
  background-color: #333;
  font-size: 0.9em;
  padding: 2px 4px;
  border-radius: 3px;
}

li > a:hover { color: #0f0; }

blockquote {
  color: #686868;
  font-size: 0.8em;
  line-height: 120%;
  padding: 0.8em;
  border-left: 5px solid #dcdcdc;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.3em;
}

th { background-color: #f0f0f0; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.toc li { list-style-type: none; }

.todo {
  font-weight: bold;
  background-color: #ff4500 ;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 3px;
}

.justleft { text-align: left; }
.justright { text-align: right; }
.justcenter { text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/* classes for items of todo lists */

.rejected {
  /* list-style: none; */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAACXBIWXMAAADFAAAAxQEdzbqoAAAAB3RJTUUH4QgEFhAtuWgv9wAAAPZQTFRFmpqam5iYnJaWnJeXnpSUn5OTopCQpoqKpouLp4iIqIiIrYCAt3V1vW1tv2xsmZmZmpeXnpKS/x4e/x8f/yAg/yIi/yQk/yUl/yYm/ygo/ykp/yws/zAw/zIy/zMz/zQ0/zU1/zY2/zw8/0BA/0ZG/0pK/1FR/1JS/1NT/1RU/1VV/1ZW/1dX/1pa/15e/19f/2Zm/2lp/21t/25u/3R0/3p6/4CA/4GB/4SE/4iI/46O/4+P/52d/6am/6ur/66u/7Oz/7S0/7e3/87O/9fX/9zc/93d/+Dg/+vr/+3t/+/v//Dw//Ly//X1//f3//n5//z8////gzaKowAAAA90Uk5T/Pz8/Pz8/Pz8/Pz8/f39ppQKWQAAAAFiS0dEEnu8bAAAAACuSURBVAhbPY9ZF4FQFEZPSKbIMmWep4gMGTKLkIv6/3/GPbfF97b3w17rA0kQOPgvAeHW6uJ6+5h7HqLdwowgOzejXRXBdx6UdSru216xuOMBHHNU0clTzeSUA6EhF8V8kqroluMiU6HKcuf4phGPr1o2q9kYZWwNq1qfRRmTaXpqsyjj17KkWCxKBUBgXWueHIyiAIg18gsse4KHkLF5IKIY10WQgv7fOy4ST34BRiopZ8WLNrgAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 .2em;
  padding-left: 1.5em;
}
.done0 {
  /* list-style: none; */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA7SURBVCiR7dMxEgAgCANBI3yVRzF5KxNbW6wsuH7LQ2YKQK1mkswBVERYF5Os3UV3gwd/jF2SkXy66gAZkxS6BniubAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 0 .2em;
  padding-left: 1.5em;
}
.done1 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABtSURBVCiR1ZO7DYAwDER9BDmTeZQMFXmUbGYpOjrEryA0wOvO8itOslFrJYAug5BMM4BeSkmjsrv3aVTa8p48Xw1JSkSsWVUFwD05IqS1tmYzk5zzae9jnVVVzGyXb8sALjse+euRkEzu/uirFomVIdDGOLjuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done2 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB1SURBVCiRzdO5DcAgDAVQGxjAYgTvxlDIu1FTIRYAp8qlFISkSH7l5kk+ZIwxKiI2mIyqWoeILYRgZ7GINDOLjnmF3VqklKCUMgTee2DmM661Qs55iI3Zm/1u5h9sm4ig9z4ERHTFzLyd4G4+nFlVrYg8+qoF/c0kdpeMsmcAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done3 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABoSURBVCiR7dOxDcAgDATA/0DtUdiKoZC3YhLkHjkVKF3idJHiztKfvrHZWnOSE8Fx95RJzlprimJVnXktvXeY2S0SEZRSAAAbmxnGGKH2I5T+8VfxPhIReQSuuY3XyYWa3T2p6quvOgGrvSFGlewuUAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done4 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAzgAAAM4BlP6ToAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIISURBVDiNnZQ9SFtRFMd/773kpTaGJoQk1im4VDpWQcTNODhkFBcVTCNCF0NWyeDiIIiCm82QoIMIUkHUxcFBg1SEQoZszSat6cdTn1qNue92CMbEr9Sey+XC/Z/zu+f8h6ukUil3sVg0+M+4cFxk42/jH2wAqqqKSCSiPQdwcHHAnDHH9s/tN1h8V28ETdP+eU8fT9Nt62ancYdIPvJNtsu87bmjrJlrTDVM4RROJs1JrHPrD4Bar7A6cpc54iKOaTdJXCUI2UMVrQZ0Js7YPN18ECKkYNQcJe/OE/4dZsw7VqNXQMvHy3QZXQypQ6ycrtwDjf8aJ+PNEDSCzLpn7+m2pD8ZKHlKarYhy6XjEoCYGcN95qansQeA3fNdki+SaJZGTMQIOoL3W/Z89rxv+tokubNajlvk/vm+LFpF2XnUKZHI0I+QrI7Dw0OZTqdzUkpsM7mZTyfy5OPGyw1tK7AFSvmB/Ks8w8YwbUYbe6/3QEKv0vugfxWPnMLJun+d/kI/WLdizpNjMbAIKrhMF4OuwadBALqqs+RfInwUvuNi+fBd+wjogfogAFVRmffO02q01mZZ0HHdgXIzdz0QQLPezIQygX6llxNKKgOFARYCC49CqhoHIUTlss/Vx2phlYwjw8j1CAlfAiwQiJpiy7o1VHnsG5FISkoJu7Q/2YmmaV+i0ei7v38L2CBguSi5AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}



code {
  font-family: "Source Code Pro", monospace;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  padding: 0px 5px 0 5px;
  color: #0c0;
  -webkit-user-select: all;
  user-select: all;
}

pre code:before {
    -webkit-user-select: none;
}

pre code {
  padding: 5px;
  max-width: 100%;
  user-select: all;
  background-color: black;
  font-size: .8em;
}

#page {
    width: 100%;
    background-color: #191919;
}

#menu {
    position: -webkit-sticky; position: sticky;
    top: 0px;
    background-color: #333;
    margin-left: 0px;
    max-width: calc(100hw - 15px);
    padding: 10px 0px 10px 25px;
    z-index: 9999;
}
#menu ul { margin: 0px; }
#menu li { padding-right: 20px; display: inline-block; margin: 0px; }

#toc div.scrollsync h6 + ul > li:before {
    display: none;
}

#toc div.scrollsync h6 + ul > li > ul  {
    margin-left: 20px;
}


.scrollsync h6 {
    margin-top: 0px;
}

#page ul li.li-youtube::before {
    display: none;
}

#toc {
    display: inline-block;
    max-width: 370px;
    position: -webkit-sticky;
    position: sticky;
    margin-left: 10px;
    top: 70px;
    margin-top: 0px;
    vertical-align: top;
}

#toc div {
    margin-top: 10px;
    max-height: calc(100vh - 150px);
    overflow: auto;
}
#toc { font-size: .8em; }
#content { padding-bottom: 80vh;
    height: 100%;
    width: 1200px;
    max-width: 1200px;
    display: inline-block;
}

@media only screen and (min-width: 2001px) {
    #content {
      width: 1250px;
    }
    #toc {
        max-width: 670px;
    }
}

@media only screen and (min-width: 1906px) and (max-width: 2000) {
    #content {
      width: 1250px;
    }
    #toc {
        max-width: 520px;
    }
}

@media only screen and (min-width: 1707px) and (max-width: 1905) {
    #content {
      width: 1200px;
    }
    #toc {
        max-width: 470px;
    }
}


@media only screen and (max-width: 1706px) {
    #content {
      width: 1100px;
    }
}
@media only screen and (max-width: 1606px) {
    #content {
      width: 1000px;
    }
}

@media only screen and (max-width: 1506px) {
    #content {
      width: 900px;
    }
}

@media only screen and (max-width: 1406px) {
    #content {
      width: 800px;
    }
}

@media only screen and (max-width: 1306px) {
    #content {
      width: 700px;
    }
}

@media only screen and (min-width: 906px) and (max-width: 1206px) {
    #content {
      width: 600px;
    }

    #toc {
        max-width: 350px;
    }


}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-left: -4px;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1106px) {
    body{ font-size: 1.0em; }
    #content {
      width: 600px;
    }
}


@media only screen and (max-width: 1006px) {
    #toc {
        width: 250px;
    }
    #content {
        width: 500px;
    }
}

@media only screen and (max-width: 906px) {
    #toc {
        display: none;
    }
    #content {
        width: 95%;
        padding-left: 5px;
    }
    :is(h1, h2, h3, h4, h5, h6) {
        font-size: 1.4em !important;
    }
    #menu li { padding-right: 10px; display: inline-block; margin: 0px; }
    #content {
        border-right: none;
        padding-right 5px;
    }
    body {
        margin: 0px;
        font-size: 1.2em;
    }

    h2 { margin-left: 10px; }
    h3 { margin-left: 20px; }
    h4 { margin-left: 30px; }
    h5 { margin-left: 40px; }

    h2 ~ pre { margin-left: 20px; }
    h3 ~ pre { margin-left: 30px; }
    h4 ~ pre { margin-left: 40px; }
    h5 ~ pre { margin-left: 50px; }

    h1 ~ ul {
        margin-left: 30px;
    }

    h2 ~ ul {
        margin-left: 40px;
    }

    h3 ~ ul {
        margin-left: 50px;
    }

    h4 ~ ul {
        margin-left: 60px;
    }
}
.hljs-ln td {
    padding: 2px;
    border: none;
}

table.hljs-ln {
    margin-left: 0px;
}

li code {
    word-break: break-all;
}

pre code.hljs.language-bash .hljs-ln-n {
    display: none;
}

pre code.hljs td div.hljs-ln-n {
    padding-right: 8px;
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}



#toc div.scrollsync li.active > a {
    font-size: 1.02em;
    color: yellow;
}

#page ul {
  list-style: none; /* Remove default bullets */
}

#toc a {
    transition: all 200ms ease-in-out;
}

#toc li > a code {
    color: #ddd;
    transition: all 200ms ease-in-out;
}

#toc li.active > a code {
    color: yellow;
}



#page ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ab6; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#menu a {
    color: #ccc;
}

#menu a:hover {
    color: #2b2;
}

#content :is(h1, h2, h3, h4, h5, h6) {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    //height: var(--header-height);
    //padding: 0 var(--default-padding);
}


